.container {
  width: 45.5%;
  height: 206.5px;
  margin: 2.5% 1.5% 2% 3%;
}

.mentor {
  border-bottom: 5px solid #f0f0f0;

  .info {
    width: 95.5%;
    height: 206.5px;
    margin: 2.5% 1.5% 2% 3%;
  }
}
